BASE_URL=http://localhost:3000/
REDDIT_CLIENT_ID=<client id>
REDDIT_SECRET=<secret>
REDDIT_USERAGENT="<platform>:<app ID>:<version string> (by /u/<reddit username>)"
REDDIT_BOT_USERNAME=<username>
REDDIT_BOT_PASSWORD=<password>
REDDIT_BOT_CLIENT_ID=<client id>
REDDIT_BOT_SECRET=<secret>
IMGUR_CLIENT_ID=<client id>
IMGUR_SECRET=<secret>
SPOTIFY_CLIENT_ID=<client id>
SPOTIFY_SECRET=<secret>
SUBREDDIT=<subreddit>
FLAIR=<flair id>
MAX_UPLOAD_SIZE=1000mb
TESLALIGHTSHAREIO_ENDPOINT=<endpoint>
